*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d7e7f4;
}
.navbar{
    width: 100%;
    position: absolute;
    left: 100px;
    right: 100px;
}

.main{
    width: 954px;
    height:100vh;
    padding: 22px 22px;
    background: white;

}

.login{
    color: #007BAf;
    font-size: large;
    font-weight: bold;
   
}


.img2{
    float: right;
}

input{
    width: 200px;
    height: 24px;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .navbar {
      width: 300px;
  }
}